
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            line-height: 1.6;
            color: goldenrod;
            background-color: #f4f4f4;
        }
        header, footer {
            background-color: goldenrod;
            color: #fff;
            padding: 20px;
            text-align: center;
        }
        nav {
            background-color: burlywood ;
            color: #fff;
            text-align: center;
            padding: 10px 0;
        }
        nav a {
            text-decoration: none;
            color: white;
            margin: 0 15px;
        }
        nav a:hover {
            color: #c7c7c7;
        }
        .container {
            padding: 20px;
            margin: 20px auto;
            max-width: 1200px;
            background-color: #fff;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        img {
            max-width: 100%;
            height: auto;
            display: block;
            margin-bottom: 10px;
        }
        .gallery {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 20px;
        }
        article {
            margin-bottom: 20px;
        }
        aside {
            margin: 20px 0;
            background: #eee;
            padding: 10px;
            border-radius: 5px;
        }
        footer {
            text-align: center;
            margin-top: 20px;
        }
        @media (max-width: 600px) {
            .gallery {
                grid-template-columns: 1fr;
            }
        }
    